<!DOCTYPE html>
<html lang="ch">
 
<head>
    
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
         <h1>{{title}}</h1>
        </div>
  
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>{{titles_out[0]}}</h4>
                <a href="{{urls_out[0]}}"> {{urls_out[0]}}</a> 
                <p> </p>
                <p> </p>
                <h4>{{titles_out[1]}}</h4>
                <a href="{{urls_out[1]}}"> {{urls_out[1]}}</a> 
                <p> </p>
                <p> </p>
                
                <h4>{{titles_out[2]}}</h4>
                <a href="{{urls_out[2]}}"> {{urls_out[2]}}</a> 
                <p> </p>
                <p> </p>

                <h4>{{titles_out[3]}}</h4>
                <a href="{{urls_out[3]}}"> {{urls_out[3]}}</a> 
                <p> </p>
                <p> </p>
                
                <h4>{{titles_out[4]}}</h4>
                <a href="{{urls_out[4]}}"> {{urls_out[4]}}</a> 
                
            </div> 
        </div>
 
        <footer class="footer">
            <p>&copy; 如梦徽州 2017</p>
        </footer>
 
    </div>
</body>
 
</html>